{% extends layout %}
{% block content %}
  <main class="container">
    <div>
      <form action="/meeps" method="post">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Message</span>
          <input class="form-control" 
            type="text" 
            name="body" 
            id="body" 
            value="{{ body }}" 
            placeholder="N/A" 
            required 
            aria-label="Sizing example input" 
            aria-describedby="inputGroup-sizing-sm">
            <button class="btn btn-primary" type="submit">Send Message</button>
        </div>
      </form>
    </div>
    {% for meep in meeps %}
    <div class="card mb-3">
      <div class="card-body">
        <div>
          <p class="card-title">{{meep.body}}</p>
          <p class="card-text">Created At: {{meep.created_at}} ||</p>
          <p class="card-text">Updated At: {{meep.updated_at}}</p>
        </div>
        <div class="d-flex">
          <a href="/meeps/{{meep.id}}/delete" class="btn btn-danger">DELETE</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </main>
<script src = "/js/complete.js"></script>


{% endblock %}