* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 249, 196);
}

form {
  display: flex;
  flex-direction: row;
}

div {

  .orderBy {
    margin-bottom: 10px;
  }
}

//## CLASSES ##
.small-text {
  font-size: 10px;
}

.f-right {
  float:right;
}

.iblock {
  display:inline-block
}

.mtop {
  margin-top:10px;
}

.mbot {
  margin-bottom:10px;
}

.orderBy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > button {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
    margin-bottom: 2px;
    
  }
}

//## ID ##
#c-reverse {
  display:flex;
  flex-direction: column-reverse;
  justify-content: center;
}

#order {
  text-decoration: none;
  background-color: white;
  border: 1px solid grey;
  padding: 5px 10px 5px 10px;
}

//Collapsible
.collapsible {
  font-size: 10px;
  margin-top: 10px;
  border: none;
  background: none;
  text-decoration: underline;
}

.content {
  display: none;
}